.history/

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
env.bak/
env1/
env2/
.env

.vscode/
*.code-workspace

*.log

build/
dist/
*.egg-info/
*.egg

test-reports/
.coverage

*.bak
*.swp
*.tmp
*.tmp.*
*~
